# --- Carpetas de Compilación ---
target/
*.class

# --- IDEs ---
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# --- Base de Datos (MUY IMPORTANTE) ---
data/
postgres-data/

# --- Sistema ---
MATA_DOCKER.bat
.DS_Store