# --- Escudo Total para cualquier carpeta ---
**/target/
**/.idea/
**/.settings/
**/.vscode/
**/data/
**/postgres-data/

# --- Escudo Total para archivos sueltos ---
**/*.class
**/*.iml
**/.classpath
**/.project
**/MATA_DOCKER.bat
**/.DS_Store